@use "./abstracts/" as *;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

*, *:before, *:after {
    overscroll-behavior: none;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
}

html {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    color: $black;
    width: 100vw;
    overflow-x: hidden;

    &:focus-within {
        scroll-behavior: smooth;
    }

    @include media("<=phone"){
        font-size: 14px;
    }
}

body {
    text-rendering: optimizeSpeed;
    background: $backround;
    // height: 100%; //todo sb-shift
}

.wrapper {
    // position: relative; //todo sb-shift
    overflow-x: hidden; //todo sb-shift
    // overflow-y: auto; //todo sb-shift
    // height: 100%;
    // min-height: 100vh;
    // padding-left: calc(100vw - 100%);
}

h1 {
    font-size: 3rem;
    line-height: 110%;

    @include media("<=tablet") {
        font-size: 2.5rem;
    }

    @include media("<=phone") {
        font-size: 2rem;
    }
}

h2 {
    font-size: 2.5rem;
    @include media("<=phone") {
        font-size: 2rem;
    }
}

h3 {

}

h4 {
    font-weight: 600;
    font-size: 1.25rem;
}

img {
    max-width: 100%;
    display: block;
}

svg {
    width: 1rem;
    height: 1rem;
    fill: $black-light;
}

ul {
    list-style-type: none;
    padding: 0;
}

.button {
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: 600;
    width: 10rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem;
    color: $black-light;
    background-color: $white;
    border: 2px solid $black-light;
    transition: all 200ms ease-in-out;




    @include media("<=phone") {
        background-color: $white;
        border: 2px solid $black-light;
        transition: all 200ms ease-in-out;
    }

    &:hover {
        color: $white;
        background-color: $purple-soft;
        border: 2px solid $purple-soft;
    }
}

a {
    text-decoration: none;
    color: $black;
    transition: all 200ms ease-in-out;

    &:hover {
        color: $purple-soft;
    }
}

.active {

    &::after {
        background-image:  url(https://s2.svgbox.net/pen-brushes.svg?ic=brush-8&color=a499c7);
        position: absolute;
        display: inline-block;
        top: 12px;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 150px;
        opacity: 1;
        z-index: -1;
        background-repeat: repeat-x;
        background-position-y: 18px;
        background-size: 100% 20px;
    }
    color: $black;
    font-weight: bold;

}

p {
    font-size: 16px;
    font-weight: 400;
    color: rgb(90, 90, 90);
    @include media("<=phone"){
        font-size: 14px;
        line-height: 1.5rem;
    }
}

.container {
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%; // todo for mobile

    @include media("<=phone") {
        padding: 0;
    }
}

.container-small {
    padding-inline: 3rem;
    max-width: 800px;

    @include media("<=phone") {
        padding-inline: 1rem;
    }

}

.mobile-menu {
    display: none;
    z-index: 1;

    @include media("<=tablet") {
        display: flex;
        flex-flow: column;
    }

    .menu-line {
        margin-block: 5px;
        display: block;
        width: 2rem;
        height: 4px;
        border-radius: 25px;
        background-color: $black;
    }

    &.menu-open > .menu-line{
        background-color: $white;
    }
}


.prevent-scroll {
    overflow-y: hidden;
}

// .content-shift-fix {
//     padding-left: calc(100vw - 100%);
// }

.highlight {
    background-image: url(https://s2.svgbox.net/pen-brushes.svg?ic=brush-8&color=a499c7);
    background-repeat: no-repeat;
    background-position-y: 75px;
    background-size: 236px;

}