@use "./abstracts/" as *;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

*, *:before, *:after {
    overscroll-behavior: none;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
}

html {
    // font-family: 'Manrope', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    color: $black;

    &:focus-within {
        scroll-behavior: smooth;
    }

    @include media("<=phone"){
        font-size: 14px;
    }
}

body {
    height: 100vh;
    text-rendering: optimizeSpeed;
    background: $backround;
}

.wrapper {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 100vh;
}

h1 {
    font-size: 3rem;

    @include media("<=tablet") {
        font-size: 2.5rem;
    }

    @include media("<=phone") {
        font-size: 2rem;
    }
}

h2 {
    @include media("<=phone") {
        font-size: 1.5rem;
    }
}

h3 {

}

h4 {
    font-weight: 500;
    font-size: 1.2rem;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style-type: none;
    padding: 0;
}

.button {
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: 600;
    width: 10rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem;
    color: $black-light;
    background-color: $white;
    border: 2px solid $black-light;
    transition: all 200ms ease-in-out;




    @include media("<=phone") {
        background-color: $white;
        border: 2px solid $black-light;
        transition: all 200ms ease-in-out;
    }

    &:hover {
        color: $white;
        background-color: $purple-light;
        border: 2px solid $purple-light;
    }
}

a {
    text-decoration: none;
    color: $black;
    transition: all 200ms ease-in-out;

    &:hover {
        color: $purple;
    }
}

.active {
    color: $purple-light;
    font-weight: bold;
}

p {
    font-size: 16px;
    font-weight: 300;
    @include media("<=phone"){
        font-size: 14px;
        line-height: 1.5rem;
    }
}

.container {
    position: relative;
    // height: 100vh;
    // display: flex;
    // flex-flow: column;
    // padding: 2rem 2rem;
    // height: 100vh;
    // overflow: hidden;

    @include media("<=phone") {
        padding: 0;
    }
}

.container-small {
    margin: 2rem 6rem;

    @include media("<=phone") {
        padding: 2rem 3rem;
    }

}

.mobile-menu {
    display: none;
    z-index: 1;

    @include media("<=tablet") {
        display: flex;
        flex-flow: column;
    }

    .menu-line {
        margin-block: 5px;
        display: block;
        width: 2rem;
        height: 4px;
        border-radius: 25px;
        background-color: $black;
    }

    &.menu-open > .menu-line{
        background-color: $white;
    }
}


.prevent-scroll {
    overflow-y: hidden;
}

.content-shift-fix {
    margin-right:17px;
}