@use "./abstracts/" as *;



.header {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    max-height: 50px;
    min-height: 50px;
    @include media("<=phone") {
        padding: 1rem;
        height: 60px;
    }

    &.container {
        @include media("<=phone") {
            padding: 0 1rem;
        }

    }
    .brand {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        gap: 1rem;
        .logo {
            .logo-img {
                width: 3rem;
            }
        }
        .name {
            font-size: 2rem;
            font-weight: 600;

            @include media("<=phone") {
                font-size: 1.5rem;
            }
        }
    }

    .nav {
        z-index: 1;
        .nav-list-container {
            display: grid;
            align-items: center;
            transition: all 500ms cubic-bezier(.25,.46,.45,.94);

            @include media("<=tablet") {
                position: absolute;
                width: 60%;
                height: 100vh;
                background-color: $black;
                top: 0;
                right: 0;
                transform: translate(100%);

                &.menu-open {
                    box-shadow: -3px 0px 15px #616161;
                }
            }

            @include media("<=phone") {
                width: 80%;
            }

            &.menu-open {
                transform: translate(0);
            }

            .nav-list {
                display: grid;
                grid-auto-flow: column;
                gap: 3rem;

                @include media("<=tablet") {
                    grid-auto-flow: row;
                    align-items: center;
                    justify-content: center;
                    gap: 8rem;
                }
                .nav-item {
                    list-style-type: none;
                    font-size: 2rem;
                    font-weight: 500;

                    @include media("<=tablet") {

                        text-align: center;
                    }

                    .nav-link {
                        @include media("<=tablet") {
                            transition: all 200ms ease-in-out;
                            color: $white;

                            &:hover {
                                color: $purple-light;
                            }
                        }
                    }
                }
            }
        }
    }

    .mobile-menu {
        display: none;
        cursor: pointer;

        @include media("<=tablet") {
            display: block;
            z-index: 1;
            .menu-line {
                transition: all 400ms cubic-bezier(.32,-0.61,.63,1.47);
            }

            $translateY: 17px;
            $translateX: 11px;

            &.menu-open {
                .menu-line:nth-child(1) {
                    transform-origin: center left;
                    transform: rotate(-45deg)  translateY($translateY) translateX(-$translateX);
                }
                .menu-line:nth-child(3) {
                    transform-origin: center left;
                    transform: rotate(45deg) translateY(-$translateY) translateX(-$translateX);
                }
                .menu-line:nth-child(2) {
                    width: 0%;
                    opacity: 0;
                }
            }

            @include media("<=phone") {
                &.menu-open {
                    .menu-line:nth-child(1) {
                        transform-origin: center left;
                        transform: rotate(-45deg)  translateY($translateY - 7px) translateX(-$translateX - 1px);
                    }
                    .menu-line:nth-child(3) {
                        transform-origin: center left;
                        transform: rotate(45deg) translateY(-$translateY + 5px) translateX(-$translateX - 2px);
                    }
                    .menu-line:nth-child(2) {
                        width: 0%;
                        opacity: 0;
                    }
                }
            }
        }
    }
}
