@use "./abstracts/" as *;

.banner {
    display: grid;
    align-self: center;
    margin: 0 auto;
    img {
        justify-self: center;
    }
}

.hero {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    gap: 8vw;
    width: 100%;
    margin: 0 auto;
    padding-inline: 10rem;

    @include media("<=tablet") {
        grid-auto-flow: row;
        justify-items: center;
    }

    @include media("<=phone") {
        text-align: center;
    }

    .hero-text {
        display: grid;
        gap: 1rem;
        margin-top: -10rem;

        @include media("<=tablet") {
            margin-top: 0;
        }

        .hero-title_number {
            font-weight: 600;
            font-size: 6rem;
            display: block;

            @include media("<=phone") {
                font-size: 3rem;
            }
        }

        .hero-title {
        }
        .hero-description {}
    }
    .hero-img {
        min-width: 300px;
        max-width: 450px;
        width: 100%;

        @include media("<=tablet") {
            width: 60%;
        }

        @include media("<=phone") {
            min-width: 256px;
            width: 90%;
        }
    }

}

.footer {
    margin: 0 auto;
    p {
        font-size: 0.9em;
        padding: 1rem;
    }

    .copyright {
        font-weight: 800;
    }

    .developer-name {
        font-weight: 500;
    }
}